{{define "page"}}
  <h1>Dean Wan</h1>
  <!-- insert picture -->
  <p>Human who writes.</p>
  <p>Sometimes code.</p> 
  <p>Sometimes words.</p>
  <p>Always irreverent.</p>
  <!-- insert links to github, linkedIn, email address once domain is set up -->
  <!-- probably embed the pictures in the binary? -->
{{end}}